@import "src/assets/colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid $medium;
  max-width: 736px;
  height: 450px;
  box-sizing: border-box;
}

.searchContainer {
  max-width: 100%;
  height: 206px;
  gap: 44px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.iconContainer {
  display: flex;
  gap: 24px;
  div:hover {
    cursor: pointer;
    svg > path {
      fill: $primary-secondary;
    }
  }
}
.infoContainer {
  display: flex;
  justify-content: space-between;
}
.image {
  width: 256px;
  object-fit: cover;
  height: 244px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $gray;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: $secondary;
  &:hover {
    cursor: pointer;
    color: $primary-secondary;
  }
}
.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mainInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mediumInfoContainer {
  flex-direction: column-reverse;
  gap: 24px;
}

.mediumContainer {
  max-width: 352px;
  gap: 27px;
}

.mediumTitle {
  font-size: 18px;
  line-height: 28px;
}

.mediumImage {
  width: 352px;
  height: 246px;
}

.smallContainer {
  height: 206px;
  max-width: 354px;
  gap: 23px;
}
.smallImage {
  height: 96px;
  width: 96px;
}
.smallInfoContainer {
  gap: 24px;
}
.searchInfoContainer {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 32px;
}
.darkTitle {
  color: $white;
}
.darkIconContainer {
  div > svg > path {
    fill: $white;
  }
}
.darkContainer {
  border-bottom-color: $gray;
}
