@import "./src/assets/colors";

.Text {
  border: 1px solid $medium;
  padding: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  max-width: 544px;
}
.TextDark{
  border-color: $gray;
  color: $white;
}
.inputContainer {
  padding-top: 40px;
}
.button {
  text-align: center;
  margin-top: 48px;
  width: 544px;
}
