.container {
  display: flex;
  gap: 30px;
  margin-top: 64px;
}
.mediumContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 736px;
  gap: 40px 32px;
  margin-top: 38px;
}
.rightSideContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}