@import "src/assets/colors";

.backHome {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  margin-bottom: 32px;
  text-decoration: none;
}
.backHomeDark {
  color: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputContainer {
  border: 1px solid $medium;
  padding: 40px;
}
.inputContainerDark {
  border-color: $gray;
}
.title {
  text-align: start;
  margin-bottom: 72px;
  margin-top: 32px;
}
.forgotPassword {
  font-size: 16px;
  line-height: 20px;
  color: $secondary;
  font-weight: 400;
}
.darkThemeForgotPassword {
  color: $white;
}
.button {
  text-align: center;
  margin-top: 48px;
  width: 544px;
}
.singUp {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $gray;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.darkSingUp {
  color: $medium;
  .navButton {
    color: $primary-secondary;
  }
}

.navButton {
  text-decoration: none;
  color: $primary;
  margin-left: 4px;
  &:hover {
    text-decoration: underline;
  }
}
